DeepFaceLab_Linux/workspace/data_src/*.jpg
DeepFaceLab_Linux/workspace/data_src/*.png
DeepFaceLab_Linux/workspace/data_dst/*.jpg
DeepFaceLab_Linux/workspace/data_dst/*.png
DeepFaceLab_Linux/workspace/data_src/*.mp4
DeepFaceLab_Linux/workspace/data_dst/*.mp4
DeepFaceLab_Linux/workspace/data_src/aligned/
DeepFaceLab_Linux/workspace/data_dst/aligned/
DeepFaceLab_Linux/workspace/data_src/aligned_debug/
DeepFaceLab_Linux/workspace/data_dst/aligned_debug/
DeepFaceLab_Linux/workspace/model/
__pycache__/
*.pyc
*.pyo
result*.mp4
result*.avi
result*.mov
*.log
